# Python specific ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Node specific ignores
node_modules/

# Environment files
.env
.flaskenv
venv/

# Frontend build files (if applicable)
frontend-app/build/
frontend/node_modules
frontend

# Pytest cache
.pytest_cache/

# VSCode settings
.vscode/

# React specific ignores
*.react-scripts-*

# Miscellaneous
*.log
